/* Estilos generales */
.sidebar button {
    width: 100%;
  }
  
  .sidebar button:hover,
  .sidebar button:active {
    transform: translateX(10px) translateY(10px);
  }
  
  .sidebar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .sidebar ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    list-style: none;
    margin: 20px;
    padding: 0;
  }
  
  .container {
    display: flex;
    width: 100%;
  }
  .menu-icon-main {
    margin-top: 10px;
    font-size: 60px;
  }
  
  .menu-icon {
    font-size: 40px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100px;
    height: 100vh;
    background-color: black;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  
  .content-menuprincipal {
    margin-left: 100px;
    padding-top: 10vh;
    position: relative;
    height: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .scrollable-content {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100%;
  }
  
  .scrollable-content ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .scrollable-content li {
    flex: 0 0 auto;
    width: 250px;
    margin: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .fondo-principal {
    margin-top: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
  }
  
  .fondo-principal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .main-container {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 20px 0;
  }
  
  .admin,
  .info-container,
  .letrero,
  .algomas {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  hr.divider {
    border: 0;
    height: 1px;
    background: #c8c8c8;
    margin: 20px 0;
    width: 100%;
  }
  
  .notas-version {
    margin-left: auto;
    margin-right: auto;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    width: 80%;
    height: auto;
  }
  
  .notas-version,
  .mis-eventos {
    width: 100%;
    height: 100%;
  }
  
  .fila-1 {
    height: 20%;
  }
  
  .fila-2 {
    width: 50%;
  }
  
  .fila-3 {
    margin-top: 30px;
    position: relative;
    height: 50%;
  }
  
  .fila-3 td {
    padding: 10px;
  }
  
  .algomas {
    height: 100%;
  }
  